<script type="text/javascript"> <!-- Piwik analytics script -->
  (function(window, document, dataLayerName, id) {
  window[dataLayerName]=window[dataLayerName]||[],window[dataLayerName].push({start:(new Date).getTime(),event:"stg.start"});var scripts=document.getElementsByTagName('script')[0],tags=document.createElement('script');
  var qP=[];dataLayerName!=="dataLayer"&&qP.push("data_layer_name="+dataLayerName);var qPString=qP.length>0?("?"+qP.join("&")):"";
  tags.async=!0,tags.src="https://gueststatus.containers.piwik.pro/"+id+".js"+qPString,scripts.parentNode.insertBefore(tags,scripts);
  !function(a,n,i){a[n]=a[n]||{};for(var c=0;c<i.length;c++)!function(i){a[n][i]=a[n][i]||{},a[n][i].api=a[n][i].api||function(){var a=[].slice.call(arguments,0);"string"==typeof a[0]&&window[dataLayerName].push({event:n+"."+i+":"+a[0],parameters:[].slice.call(arguments,1)})}}(i[c])}(window,"ppms",["tm","cm"]);
  })(window, document, 'dataLayer', '87c6482f-460d-43d4-a234-9de4e3b9cd26');
  </script>

<script src="https://getlaunchlist.com/js/widget.js" defer></script>  <!-- LaunchList script -->

<body>

    {{ block "main" . }}{{ end }}
  
    <!-- Popup HTML -->
    <div id="waitlistModal" style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); z-index: 1000; display: none; justify-content: center; align-items: center;">
      <div style="background-color: white; padding: 20px; border-radius: 5px;">
        <button id="close-timed-popup">Close</button>
        <div class="launchlist-widget" data-key-id="9l7a3o" data-height="180px"></div>
      </div>
    </div>
    <!-- Popup JavaScript -->
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        const popup = document.getElementById('waitlistModal');
        const closeButton = document.getElementById('close-timed-popup');

        // List of pages where the popup should NOT appear
        const excludedPages = ['/signup/', '/thank-you/']; // Add more pages as needed

        // Get the current URL path
        const currentPath = window.location.pathname;

        // Check if the current page is excluded
        if (excludedPages.includes(currentPath)) {
          console.log('Popup disabled on this page:', currentPath);
          return; // Exit the script if the current page is in the excluded list
        }

        // Show the popup after 10 seconds
        setTimeout(function() {
          console.log('Showing popup after 10 seconds');
          popup.style.display = 'flex';
        }, 10000); // 10000 milliseconds = 10 seconds

        // Close the popup when the close button is clicked
        closeButton.addEventListener('click', function() {
          popup.style.display = 'none';
        });
      });
    </script>
  
</body>