/* Put your custom styles here and run `npm start` from the "src" directory on */

#TableOfContents ul li {
  margin-bottom: 1em;
}

.lh-copy blockquote {
  display: block;
  font-size: .875em;
  margin-left: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-left: 4px solid #ccc;
  padding-left: 1rem;

}

.nested-links a{
  overflow-wrap: break-word;
}

.flex-l.items-center {
  text-align: center;
  font-size: 0px;
}

.pl0 {
  margin-top: 0px;
}

.mr3 {
  margin-left: 1rem;
}

/* Target the specific menu item with blue */
.list.f5.f4-ns.fw4.dib.pr3 a[href="/signup/"]{
  color: #00a3ff; /* Or your desired blue color */
}

a {
  color: #00a3ff;
  text-decoration: underline;
}

/* Slightly darker on hover */
a:hover {
  color: #0080cc; /* A slightly darker shade of blue */
  text-decoration: underline; /* Keep the underline */
}

/* Slightly lighter on active */
a:active {
  color: #33b5ff; /* A slightly lighter shade of blue */
  text-decoration: underline; /* Keep the underline */
}


#waitlist-button {
  pointer-events: auto !important; /* Override any other settings */
  z-index: 1001 !important; /* Ensure it's on top */
  position: relative;
}

@media screen and (max-width: 30em) { /* 30em is Tachyons' small screen breakpoint */
  .pl0.mr3 { /* Target the entire menu container */
    display: none;
  }
}

/* static/css/custom.css */
.centered {
  justify-content: center;
}

.footer-menu {
  /* You can add additional flexbox properties here if needed, like: */
  align-items: center;       /* Align items vertically */
}


:root {
  --link_button: #00a3ff;
  --light-background-color: rgba(0, 163, 255, 0.1);
}

.footer-cta {
  color: white; /* White text */
  background-color: #00a3ff; /* Solid blue background */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Make it behave like a block-level element */
  padding: 0.5em 1em;    /* Add some padding for a button-like appearance */
  border: 1px solid #00a3ff; /* Add a border */
  border-radius: 4px;    /* Optional: round the corners */
  transition: background-color 0.2s, color 0.2s; /* Smooth transition for hover */
}

.footer-cta:hover {
  background-color: #0080cc; /* A slightly darker shade of blue on hover */
  color: white; /* Keep the text white on hover */
  text-decoration: none; /*Remove underline on hover */
}

.footer-cta:active {
  background-color: #33b5ff; /* A slightly lighter shade of blue on active */
  color: white; /* Keep the text white on active */
  /* Optional: Add a subtle shadow or other effect */
}


@media screen and (max-width: 30em) {.lh-title {
  font-size: 2rem; /* Optional: Adjust line height */
}}