/* Put your custom styles here and run `npm start` from the "src" directory on */

#TableOfContents ul li {
  margin-bottom: 1em;
}

.lh-copy blockquote {
  display: block;
  font-size: .875em;
  margin-left: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-left: 4px solid #ccc;
  padding-left: 1rem;

}

.nested-links a{
  overflow-wrap: break-word;
}

.flex-l.items-center {
  text-align: center;
  font-size: 0px;
}

.pl0 {
  margin-top: 0px;
}

.mr3 {
  margin-left: 1rem;
}

/* Target the specific menu item with blue */
.list.f5.f4-ns.fw4.dib.pr3 a[href="https://www.gueststatus.com"]{
  color: #00a3ff; /* Or your desired blue color */
}

a {
  color: #00a3ff;
  text-decoration: underline;
}

/* Slightly darker on hover */
a:hover {
  color: #0080cc; /* A slightly darker shade of blue */
  text-decoration: underline; /* Keep the underline */
}

/* Slightly lighter on active */
a:active {
  color: #33b5ff; /* A slightly lighter shade of blue */
  text-decoration: underline; /* Keep the underline */
}
