{{/* 
	GetFeaturedImage 

	This partial gets the URL for the featured image of a given page.
*/}}

{{/* Declare a new string variable, $linkToCover */}}
{{ $linkToCover := "" }}
{{ $matches := "feature,cover" }}

{{/* Use the value from front matter if present */}}
{{ with .Params.featured_image }}
  {{/* Trim and ensure proper URL formatting */}}
  {{ $linkToCover = trim . "/" | relURL }}
  
  {{/* If the image is found as a Page Resource, use it instead */}}
  {{ with $.Resources.GetMatch . }}
    {{ $linkToCover = .RelPermalink }}
  {{ end }}

{{ else }}
  {{/* If no featured_image is set, search for "feature" or "cover" images in the page bundle */}}
  {{ with .Resources.ByType "image" }}
    {{ range (slice "feature" "cover") }}
      {{ with .GetMatch (printf "**%s**" .) }}
        {{ $linkToCover = .RelPermalink }}
        {{ break }}  {{/* Stop at the first match */}}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}

{{ return $linkToCover }}
